<div class="container">
  <div class="ip-input mb-5">
    <h1 class="d-flex justify-content-center"> IP Location </h1>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Current IP</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="ipaddress">
    </div>
    <p>IP Type: {{type}}</p>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h4>IP Address Info</h4>
      <div class="lat-long">
        <p>Latitude: {{latitude}}</p>
        <p>Longitude: {{longitude}}</p>
      </div>
      <div class="row address-container">
        <div class="col-6">
          <p>Continent: {{continent_name}}</p>
          <p>Country: {{country_name}}</p>
          <p>City: {{city}}</p>
        </div>
        <div class="col-6">
          <img class="flag" src={{country_flag}} alt="Flag">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 app-map">
      <app-map [map_lat]="latitude" [map_lon]="longitude" ></app-map>
    </div>
  </div>




</div>

